*{
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to right,rgb(222, 83, 199),darkmagenta);
    display: flex;
    justify-content: center;
    align-items: normal;
    margin-top: 70px;
}
#window{
    display: flex;
    width: 80vw;
    height: 80vh;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    color: snow;
    border-radius: 10px;
    background-image: url(pexel.jpg);

    background-repeat: no-repeat;
}
/* left section */
#left-section{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#logo{
    display: flex;
    height: 10vh;
    width: 100%;
}
#logo > img{
    height: 45px;
    margin: 10px 10px;
    width: 45px;
}
#inside{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4em;
    width: 100%;
}
#inside > h2{

    font-size: 48px;
    letter-spacing: .5px;
}
#inside > p{
    margin-top: 20px;
    margin-left: 10em;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
}
#left-section > footer{
    justify-content: flex-start;
    height: 10vh;
    display: flex;
    width: 100%;
}
#left-section > footer > a{
    color: snow;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
}
/* right section(sign in) */
#right-section{
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
#right-section > h1{
    font-size: 24px;
    margin-bottom: 20px;
}
/* form */
#signin{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
#signin > label{
    opacity: 0.8;
}
#signin > input{
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid darkmagenta;
}
#signin > input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid darkmagenta;
}
#submit-btn{
    height: 40px;
    width: 100%;
    letter-spacing: 3px;
    background-color: darkmagenta;
    color: snow;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
#right-section > h4{
    text-align: center;
    opacity: 0.6;
    margin-bottom: 30px;
}
#twitter-btn{
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    background-image: linear-gradient(to right,rgb(10, 9, 9),rgb(74, 67, 67));
    letter-spacing: 1px;
    color: snow;
    font-size: 14px;
    cursor: pointer;
    border: none;
}
#fb-btn{
    height: 40px;
    width: 100%;
    color: snow;
    background-image: linear-gradient(to right,rgb(4, 62, 132),rgb(65, 119, 173));
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 30px;
    cursor: pointer;
    border: none;

}
#signup{
    text-align: right;
}
#signup > a{
    text-decoration: none;
    margin-right: 5px;
    font-size: 18px;
}