*{
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to right,rgb(222, 83, 199),darkmagenta);
    display: grid;
    place-items: center;
    margin-top: 70px;
}

#window{
    display: flex;
    
    align-items: center;
    width: 80vw;
    height: 80vh;
    justify-content: center;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    color: snow;
    border-radius: 10px;
    background-image: url(pexel.jpg);

}
/* left section */
#left-section{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#logo{
    display: flex;
    height: 10vh;
    width: 100%;
}
#logo > img{
    height: 45px;
    margin: 10px 10px;
    width: 45px;
}
#inside{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4em;
    width: 100%;
}
#inside > h2{

    font-size: 48px;
    letter-spacing: .5px;
}
#inside > p{
    margin-top: 20px;

    margin-left: 115px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
}
#left-section > footer{
    justify-content: flex-start;
    height: 10vh;
    display: flex;
    width: 100%;
}
#left-section > footer > a{
    color: snow;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
}
/* right section(sign in) */
#right-section{
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
#right-section > h1{
    font-size: 24px;
    margin-bottom: 20px;
}
/* form */
#signin{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
#signin > label{
    opacity: 0.8;
}
#signin > input{
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid darkmagenta;
}
#signin > input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid darkmagenta;
}
#submit-btn{
    height: 40px;
    width: 100%;
    letter-spacing: 3px;
    background-color: darkmagenta;
    color: snow;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
#right-section > h4{
    text-align: center;
    opacity: 0.6;
    margin-bottom: 30px;
}

#signup{
    text-align: right;
}
#signup > a{
    text-decoration: none;
    margin-right: 5px;
    font-size: 18px;
}
/* Tick symbol */
span{
    
    position: absolute;
    /* color: green; */
    background-color: green;
}
#ver{
    left: -4.2px;
    right: 0;
    top: 14px;
    bottom: 0em;
    height: 10px;
    bottom: 0em;
    width: 2px;
    transform: rotate(80deg);
}
#hor{
    right: 13.5em;
    height: 20px;
    bottom: 16.3em;
    transform: rotate(45deg);
    width: 2px;
}
#ver1{
    left: -4.2px;
    right: 0;
    top: 14px;
    bottom: 0em;
    height: 10px;
    bottom: 0em;
    width: 2px;
    transform: rotate(80deg);
}
#hor1{
    right: 13.5em;
    height: 20px;
    bottom: 20.4em;
    transform: rotate(45deg);
    width: 2px;
}
