:root {
      --navbar-width: 260px;
}
body{
  font-family: sans-serif;
  margin:0;
  display: flex;
}
nav{
  height: 100vh;
  background-color: gray;
  position: fixed;
  width: 250px;
  overflow-y: auto;
}
.nav-link{
  display: block;
  padding: 20px 5px;
}
header{
  font-size: 28px;
  font-weight: 800;
  margin-left: 5px;
}
code{
  background-color: aliceblue;
  display: block;
  padding: 10px;
  margin: 0 10px;
}
a{
  color: black;
  text-decoration: none;
  font-family: Rubik;
  display: block;
  font-size: 24px;
}
p{
  margin-left: 10px;
  text-align: left;
}
.one{
  font-size: 24px;
  font-family: sans-serif;
}
#main-doc{
  flex: 1;
  min-width: 0;
  max-width: 800px;
  padding: .5em .5em;
  margin-left: var(--navbar-width);
}
@media (max-width: 700px){
  body{
    flex-direction: column;
  }
  #navbar{
    width: 100%;
    min-width: 0;
    position: static;
    height: auto;
    border-bottom: 2px solid #ccc;
    display: block;
    padding-bottom: 1em;
  }
  #main-doc{
    margin-left: 0;
    padding: 1em 0.7em;
  }
}