*{
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
  margin: 0;
}
h1{
  text-align: center;
  background-color: blue;
  color: white;
  padding: 10px 0;
}
#main{
  display: block;
  margin: 0px auto;
  text-align: center;
}
img{
  display: block;
}
#image{
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}
#img-caption{
  font-size: 16px;
}
#tribute-info{
  font-size: 24px;
  font-family: Inter;
}