*,*::after,*::before{
  margin: 0;
  box-sizing: border-box;
  overflow: none;
}
body{
  box-sizing: border-box;
  overflow: none;
}
header{
  width: 100%;
  height: 10vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #be3144;
  align-items: center;
  justify-content: flex-end;
}
nav{
  display: flex;
  gap: 2em;
  margin-right: 15px;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}

#welcome-section{
  width: 100vw;
  height: 100vh;
  background-color: black;
}
#about{
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
h1{
  color: white;
  margin-top: 250px;
  margin-bottom: auto;
  font-size: 48px;
}
#projects{
  width: 100vw;
  height: 100vh;
  background-color: #45567d;
  display: flex;
}
.project-tile{
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 80vh; 
  padding: 10px;
  margin: 90px 0;
}
img{
  width: 100%;
  height: 100%;
  display: flex;
}
.project-tile a{
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 6px;
}
footer{
  width: 100vw;
  background-color: #303841;
  height: 50vh;
}
.footer > a{
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 130px;
  font-size: 36px;
}

@media( max-width: 500px){
  h1{
  color: white;
  margin-top: 250px;
  margin-bottom: auto;
  font-size: 32px;
}
#projects{
  width: 100vw;
  height: 100%;
  background-color: #45567d;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.project-tile{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh; 
  padding: 10px;
  margin: 0;
}
img{
  width: 100%;
  height: 100%;
  display: flex;
}
.project-tile a{
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 6px;
}
footer{
  width: 100vw;
  background-color: #303841;
  height: 50vh;
}
.footer > a
{
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 130px;
  font-size: 28px;
}
}