*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: snow;
    font-family: Inter;
    color: #0F1417;
}
.container{
    display: flex;
}

/* top navbar */
#top-header{
    width: 60vw;
    height: 65px;
    background-color: snow;
    border-bottom: 1px solid #E5E8EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top-nav{
    display: flex;
    gap: 2em;
    align-items: center;
    margin-left: 30px;
    margin-right: 10px;
    
}
a{
    text-decoration: none;
    color: #0F1417;
}
#cmpny{
    margin-left: 20px;
    font-size: 18px;
}
.top-nav-link{
    font-weight: 600; 
    font-size: 14px;
}

/* side navbar */
aside{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 95vh;
    padding: 16px 8px;

}
.side-nav{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}
#toggle{
    font-size: 22px;
    font-weight: 800;
}
h4{
    font-size: 16px;
    font-weight: 600;
}
.side-nav-tile{
    width: 260px;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
}
.test{
    margin: 13px 9px;
    align-items: center;
}
p{
    font-size: 14px;
    color: #5C738A;
    padding-top: 2px;
    font-weight: 500;
}

/* About section css */
.about-tile{
    margin-left: 0px;
    margin-top: 0px;
 
}
.tile-one{
    margin-top: 20px;
    display: flex;
}
.pro{
    padding-left: 13px;
    align-items: center;
}
#propic{
    height: 40px;
    width: 40px;
}
.tile-two{
    display: flex;
    gap: 8px;
    margin-top: 5px;
    padding: 9px;
    font-size: 16px;
    align-items: center;
    width: 60vw;
    border-radius: 10px;
}
i{
    font-size: 19px;
}

/* dashboard css */
.desc-tile{
    margin-top: 20px;
}
.desc-tile > h1{
    font-size: 22px;;
}
#dash_pic{
    margin-top: 10px;
    height: 150px;
    width: 55vw;
    border-radius: 15px;
}

/* key metrics css */
.metrics-tile{
    width: 60vw;
    margin-top: 20px;
}
.metrics-tile >  h1{
    font-size: 22px;
}
.metrics-tile >  p{
    margin-top: 10px;
    color: #0F1417;
}
.metrics-tile >  button{
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    background-color: #a9bbcc;
    padding: 10px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

/* toggle button creation */
/* the switch - the box around the slider */
.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
/* hide default html checkbox */
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
/* slider */
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
    background-color: #d7d7d7;
    transition: 0.4s;
    border-radius: 34px;
    box-shadow:#5C738A;
}
/* the circle knob inside the slider */
.slider:before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow:#5C738A;
}
/* change background when clicked */
input:checked + .slider{
    background-color: #2196F3;
}
/* Move the knob when checked */
input:checked + .slider:before{
    transform: translateX(15px);
}