*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;background-color: black;
  box-sizing: border-box;
}
h1{
  font-size: 36px;
  text-align: center;
  color: snow;
  margin-top: 30px;
}
.container{
  margin-top: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: snow;
  height: auto;
  min-height: 80vh;
  border-radius: 20px;
  box-shadow: 8px 8px 1px grey;
}
.box{
  padding: 10px;
  
}
label{
  padding-bottom: 30px;
  font-size: 18px;
}
#search-input{
  margin-top: 10px;
  height: 30px;
  width: 60%;
  border: 1px solid black;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
#search-button{
  width: 70px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: darkblue;
  color: white;
  letter-spacing: .8px;
  cursor: pointer;
}
main{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
}
span{
  display: flex;
  gap: 2px;
  font-size: 18px;
  font-weight: 600;
}
#weight{
  font-weight: 400;
  font-size: 16px;
}
#height{
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}
#creature-name{
  font-size: 20px;
  margin-right: 5px;
}
#creature-id{
  font-size: 20px;
  font-weight: 400;
}
#types{
  display: flex;
  gap: 5px;
  font-weight: 400;
  margin: 7px 0;

}
#types > p:nth-of-type(1){
  background-color: lightblue;
  border-radius: 10px;
  font-size: 12px;
  width: 60px;
  letter-spacing: .7px;
  align-items: center;
  justify-content: center;
  height: 25px;
  display: flex;
  text-transform: uppercase;
}
#types > p:nth-of-type(2){
  background-color: coral;
  border-radius: 10px;
  font-size: 12px;
  width: 60px;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  height: 25px;
  display: flex;
}
.power-cards{
  margin: 20px 10px;
}
table{
  width: 100%;
  height: 300px;
  font-weight: 400;
  color: snow;
  font-size: 18px;
  letter-spacing: .8px;
  gap: 2px;
  border-spacing: 4px;
}
th{
background-color: darkviolet;
height: 40px;
}
td{
background-color: darkviolet;
}